<<<<<<< HEAD
:root {
  --white-color: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}
.containerAll {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: inherit;
  height: inherit;
}
nav.show-nav {
  position: fixed;
  display: inline-block;
}
nav {
  background-color: #3b4144;
  border-right: 2px solid rgba(200, 200, 200, 0.1);
  color: var(--white-color);
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  padding: 16px 20px;
  width: 300px;
  max-height: 100vh;
  height: 100vh;
  z-index: 100;
}
nav .text-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav ul li .show-nav-contents {
  display: none;
  padding: 8px 10px;
  overflow: hidden;
}
nav ul li ul.hidenav {
  display: none;
}
nav ul li {
  padding: 8px;
}
nav ul li a {
  text-decoration: none;
  color: #cdd1d4;
}
nav ul li a:hover {
  text-decoration: underline;
}
@media (max-width: 900px) {
  nav {
    width: 40%;
  }
}
nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
nav ul li button {
  background-color: transparent;
  color: #fff;
  border: none;
  padding: 10px;
  font-size: 16px;
}
nav .btn-text-nav {
  background-color: transparent;
  color: #fff;
  margin-top: 10px;
  font-size: medium;
  padding: 10px;
  border: none;
}
nav .text-btn .close-nav {
  background-color: transparent;
  color: #fff;
  border: none;
  font-size: large;
  position: absolute;
  top: 10px;
  right: 10px;
  margin-bottom: 10px;
  font-size: large;
}
/* arrow of navbar section  style */
/* keyboard arrow img */
nav img {
  width: 24px;
  height: 15px;
}
.buyimg {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rentimg-btn-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mortgageimg {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.localimg {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.additional-img {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/*  */
header {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 8px 10px;
  width: 100%;
}
header .container {
  display: flex;
  width: 100%;
}
header .contents {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 0;
}
header .d-block {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px 5px;
  font-weight: 700;
  font-size: 20px;
}
header .contents ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-weight: 700;
  margin: 0;
  color: #3b4144;
  padding-right: 8px;
}
header .contents ul li {
  cursor: pointer;
  padding: 8px;
}
@media (max-width: 1060px) {
  header .contents ul {
    display: none;
  }
}
.contents ul li a {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-weight: 700;
  font-size: 16px;
  color: #3b4144;
  padding: 7px;
  text-decoration: none;
}
.contents ul li .buy-contents {
  display: none;
  position: fixed;
  top: 50px;
  left: 7rem;
  width: 180px;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(200, 200, 200, 0.2);
}
.contents ul li .nav-button:hover {
  background-color: #007882;
  color: #fff;
  border-radius: 5px;
}
.contents ul li:hover > .buy-contents {
  display: block;
}

.buy-contents li a {
  text-decoration: underline;
}
.list-show1 .buy-contents1 {
  display: none;
  position: fixed;
  top: 50px;
  left: 11rem;
  background-color: #fff;
  color: #3b4144;
  padding: 7px;
  border-radius: 5px;
  padding-bottom: 3px;
}
.list-show1 .nav-button1:hover {
  background-color: #007882;
  color: #fff;
  border-radius: 5px;
}
.contents ul li:hover > .buy-contents1 {
  display: block;
}
.list-show2 .buy-contents2 {
  display: none;
  position: fixed;
  top: 50px;
  left: 15rem;
  background-color: #fff;
  color: #3b4144;
  padding: 7px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.list-show2 .nav-button2:hover {
  background-color: #007882;
  color: #fff;
  border-radius: 5px;
}
.contents ul li:hover > .buy-contents2 {
  display: block;
}
.contents ul ul li a:hover {
  text-decoration: underline;
}
/*
.contents ul li .buy-contents {
  display: flex;
  background-color: #fff;
  position: fixed;
  top: 45px;
  left: 70px;
  right: 0;
  bottom: 120px;
  width: 120px;
} */

header .contents2 {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
header .contents2 ul {
  list-style-type: none;
  display: flex;
  color: #3b4144;
  align-items: center;
  font-weight: 700;
  padding-right: 10px;
}
@media (max-width: 900px) {
  .contents2 ul li .btn-text-hide {
    display: none;
  }
}
/* header .contents2 ul li {
  padding-right: 8px;
  } */

.contents2 ul li .button {
  cursor: pointer;
  padding: 8px;
  color: #3b4144;
  font-weight: 700;
  /* font-family: Arial, Helvetica, sans-serif; */
}
.contents2 ul li .button:hover {
  background-color: rgb(0, 120, 130);
  color: #fff;
  border-radius: 5px;
}
.contents2 ul li .Signup-btn {
  border: 1px solid #cdd1d4;
  border-radius: 8px;
  /* background-color: transparent; */
}
.contents2 ul li .Signup-btn:hover {
  color: #fff;
  background-color: #e8e9ea;
}
header .contents2 ul li button {
  background-color: transparent;
  border: none;
}
header .contents2 ul li .button-text img {
  height: 24px;
  cursor: pointer;
  width: 24px;
}

/* main section */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px;
}
.container1 {
  width: 100%;
  background-image: url(../img/house_image_with_children.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 10px;
  border-radius: 5px;
  height: 100%;
}
.flexcontainer {
  /* line-height: 3; */
  display: block;
  text-align: center;
}
.flexcontainer h1 {
  /* font-size: 28px; */
  line-height: 1.5;
  color: #fff;
}
.container1 .text-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-btn .btn33 {
  border-radius: 5px;
  background-color: rgba(59, 65, 68, 0.6);
}
.btn33 input {
  background-color: transparent;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
}
.btn33 input:hover {
  background-color: #fff;
  color: #007882;
}

.container1 .inputs {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  padding: 10px;
  position: relative;
}
.container1 .inputs input {
  width: 40vw;
  padding: 10px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: none;
  outline: none;
}
.inputs input:hover {
  padding: 15px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: none;
  outline: none;
}
.inputs img {
  background-color: #d93c23;
  position: absolute;
  top: 10px;
  /* right: -2px; */
  right: -10px;
  padding: 6px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
@media (min-width: 1200px) {
  .btn33 button div {
    width: 100%;
  }
  .inputs input {
    width: 140vw;
  }
}
@media (max-width: 1040px) {
  .btn33 button {
    width: 7vw;
  }
  .inputs input {
    width: 80vw;
  }
}
@media (max-width: 900px) {
  .btn33 button {
    width: 8vw;
  }
  .inputs input {
    width: 40vw;
  }
}
@media (max-width: 600px) {
  .btn33 button {
    width: 9vw;
    /* font-size: x-small; */
  }
  .inputs input {
    width: 80vw;
  }
}
@media (max-width: 450px) {
  .btn33 button {
    width: 12vw;
  }
  .inputs input {
    /* width: 40vw; */
    width: 100vw;
    display: block;
  }
}

/* modal section */
.modal-container {
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.modal-container.show-modal {
  display: block;
}
.modal {
  background-color: var(--white-color);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  width: 450px;
  height: 400px;
  animation-name: show-modal;
  animation-duration: var(--modal-duration);
}
.modal .signup-loginbtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.signup-loginbtn h3 {
  padding: 10px;
}
.signup-loginbtn button {
  background-color: transparent;
  border: none;
  font-size: medium;
  position: absolute;
  top: 10px;
  right: 10px;
}
.signup-loginbtn .modal-form {
  display: block;
  align-items: center;
  justify-content: center;
  padding: 10px;
  z-index: 100;
}
.emails {
  width: 100%;
  padding: 10px;
}
.modal-form label {
  display: block;
  margin-bottom: 4px;
  font-family: sans-serif, serif;
}
.modal-form .emails input {
  width: 100%;
  padding: 7px;
  display: block;
  outline: none;
  border-radius: 5px;
  border: 1px solid #828c91;
}
.modal-form .submitbtn {
  width: 100%;
  padding: 10px;
}
.modal-form .submitbtn button {
  width: 100%;
  display: block;
  background-color: #007882;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
}
.login-line {
  display: flex;
  width: 100%;
  padding: 10px;
  align-items: center;
}
.login-line span {
  width: 100%;
  border-bottom: 1px solid #b6b9bb;
}
.contact-withus {
  display: block;
  width: 100%;
  padding: 7px;
}
.facebook {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px;
  background-color: #5a639c;
  border-radius: 5px;
  margin-bottom: 5px;
}
.facebook a {
  text-decoration: none;
  color: #fff;
}
.facebook img {
  width: 30px;
  height: 24px;
  padding-right: 10px;
}

.google {
  display: flex;
  justify-content: flex-start;
  border-radius: 5px;
  border: 1px solid #828c91;
  padding: 7px;
}
.google a {
  text-decoration: none;
}
.google img {
  height: 24px;
  width: 30px;
}
.loging-agree {
  display: flex;
}
.loging-agree p a {
  color: #007882;
}

/* Card sections */
.card-container {
  height: 100%;
  width: 100%;
}
.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card-trulia {
  display: flex;
  /* height: 350px; */
}
@media (max-width: 770px) {
  .cardContainer {
    display: flex;
    flex-direction: column;
  }
  .card-trulia {
    display: flex;
    flex-direction: column;
  }
}
.card-title {
  background-color: transparent;
  padding: 10px;
  line-height: 1;
}
.card-info {
  display: flex;
  flex-direction: column;
  border: 2px solid transparent;
  width: 350px;
  padding: 10px;
  align-items: center;
  justify-content: center;
}
.card-info h4 {
  padding: 10px;
  line-height: 1;
}
.card-info p {
  text-align: center;
  line-height: 1;
  padding-bottom: 10px;
}
.card-info .btn-a {
  width: 100%;
  padding-left: 80px;
}
.card-info .btn-a a {
  text-align: center;
  text-decoration: none;
  display: block;
  width: 120px;
  border-radius: 5px;
  padding: 10px;
  font-weight: 700;
  border: 1px solid #007882;
  background-color: #007882;
  color: #fff;
}
.card-info a:hover {
  background-color: #fff;
  font-weight: 700;
  width: 120px;
  color: #007882;
  border: 1px solid #828c91;
}
.card-info img {
  width: 128px;
  height: 128px;
}

.search-city {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  /* width: 100%; */
  align-items: center;
  justify-content: center;
  padding: 10px;
  position: relative;
}

.search-city h4 {
  padding-bottom: 15px;
}
.input-img {
  position: relative;
}
.search-city input {
  display: block;
  width: 40vw;
  padding: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
  outline: none;
  background-color: #dee0e0;
}

.search-city img {
  background-color: #d93c23;
  padding: 5px;
  position: absolute;
  top: 0;
  right: -2px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
=======
>>>>>>> 6a4e46279a2d46d2e1042a1f58ad8b4ed65cf99e
